<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,0">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Cadastro Aluno</title>
</head>

<body>
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <div>            
                    <a href="/listarHome" class="navbar-brand">Classroom</a>
                    <a href="/cadastroProfessor" class="nav-prof navbar-brand">Cadastro Professor</a>
                </div>
                <form action="/sair" method="post" class="d-flex" role="search">
                    <button type="submit" class="btn btn-outline-danger">Sair</button>
                </form>
            </div>
        </nav>
        <div class="body">
            <h1 class="titulo">Cadastro de Alunos</h1>
            <form action="/insert" method="post" enctype="multipart/form-data">     
            <div class="geral">
                <!-- MENSAGEM DE CADASTRADO -->
                <% if (typeof messageAluno !== 'undefined') { %>
                    <div class="alert alert-success" role="alert">
                        <%= messageAluno %> 
                    </div>
                <% } %>
                <!-- MENSAGEM DE ERRO -->
                <% if (typeof messageErro !== 'undefined') { %>
                    <div class="alert alert-danger" role="alert">
                        <%= messageErro %> 
                    </div>
                <% } %>
                    <div class="home">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nome</label>
                            <input type="nome" class="form-control" id="exampleFormControlInput1" placeholder="Digite o nome" name="nome" required>
                        </div>
                        <div class="form">
                            <label for="exampleFormControlInput1" class="form-label">Turma</label>
                            <input type="text" class="form-control" list="turma" name="turma" required>
                            <!-- ISSO PARACE UMA BOA OPÇÃO -->
                            <datalist id="turma">
                                <option selected disabled>Escolha uma turma</option>
                                <option value="si8p13"></option>
                                <option value="si7p13"></option>
                                <option value="si6p13"></option>
                            </datalist>
                            <!-- <select class="form-select" aria-label="Default select example" name="turma">
                                <option selected disabled>Escolha uma turma</option>
                                <option value="1">SI8P13</option>
                                <option value="2">SI7P13</option>
                                <option value="3">SI6P13</option>
                            </select> -->
                        </div>
                    </div>
                    <div class="home1">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">RA (Número da Matrícula)</label>
                            <input type="ra" class="form-control" id="exampleFormControlInput1" placeholder="Digite o RA" name="ra" maxlength="7" minlength="7" required>
                        </div>
                        <div class="form">
                            <label for="inputPassword" class="form-label">Senha</label>
                        <div>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Digite a senha" name="senha" required>
                            </div>
                        </div>
                    </div>
                    <div class="input">
                        <div class="input-group">
                            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="img" required>
                        </div>
                    </div>
                    <center>
                        <button class="btn-enviar btn btn-outline-secondary" type="submit">Enviar</button>
                    </center>
                </form>
            </div>
    </div>    
</body>