<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta nome="viewport" content="width=device-width, initial-scale=1,0">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <title>Login</title>
</head>

<body>
    <nav class="navbar bg-light">
        <div class="container-fluid">            
            <a class="navbar-brand">Classroom</a>    
        </div>
    </nav>
    <div class="body">
        <div class="geral">
            <h1 class="titulo">LOGIN</h1>
            <form action="/" method="post">
                <!-- MENSAGEM DE ERRO -->
                <% if (typeof message !== 'undefined') { %>
                    <div class="alert alert-danger" role="alert">
                        <%= message %> 
                    </div>
                <% } %>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Seu RA (Número da Matrícula)</label>
                    <input type="ra" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu RA" name="ra">
                </div>
                <div class="form">
                    <label for="inputPassword" class="form-label">Sua Senha</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Digite sua Senha" name="senha">
                </div>
                <div class="button">
                    <button href="cadastroAluno.html" class="form-control btn btn-outline-secondary" type="submit">ENTRAR</button> 
                </div>
            </form>    
        </div>
    </div>  
</body>