<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <title>Login</title>
</head>
<body class="text-center">
        <main class="container">
            <div class="row container row justify-content-center row align-items-center vh-100">
                <div class="col-auto">
                    <form action="login" method="post">
                        <div class="row">
                            <h3>Início</h3>
                            <div class="col form-floating mb=3">
                                <input type="text" class="form-control" id="nome" placeholder="RA">
                                <label for="nome">Usuario</label>
                            </div>
                        </div>    
                        <br>
                        <div class="row">
                            <div class="col form-floating">
                                <input type="text" class="form-control" id="senha" placeholder="senha">
                                <label for="senha">Senha</label>
                            </div>
                        </div>
                        <br>    
                        <button type="button" class="btn btn-success">Logar</button>
                    </form>
                </div>
            </div>
        </main>
</body>
</html>